<div class="col-md-8 col-md-offset-2" id="partial-gallery">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/public/images/homepage/IMG_5288.jpg" alt="art show">
        <div class="carousel-caption">
          <h4>2016 Art Show</h4>
        </div>
      </div>
      <div class="item">
        <img src="/public/images/homepage/IMG_5321.jpg" alt="art show">
        <div class="carousel-caption">
          <h4>2016 Art Show</h4>
        </div>
      </div>
      <div class="item">
        <img src="/public/images/homepage/IMG_5308.jpg" alt="art show">
        <div class="carousel-caption">
          <h4>2016 Art Show</h4>
        </div>
      </div> 
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
</div>