<div class="col-md-10 col-sm-12 col-md-offset-1">
  <div class="w3-card w3-hover-shadow">
    <div class="w3-container w3-center" id="topic-card">
      <a href="#/home"><img src="/images/homepage/logo_sm.png" alt="bulb"/></a>
      <h3>Art</h3>
    </div>
    <div id="topic-body">
      <h4>We strive to maintain the great joy the child finds in creating something of his/her own. Having an Art area for each child to expand their creativity is very important in a Montessori Environment. Each child has the freedom to express their creativity through their own eyes and in their own way. The importance of the process is emphasized during this time, not the end product.
      </h4>
    </div>
  </div>
</div>