<div class="col-md-10 col-sm-12 col-md-offset-1">
  <div class="w3-card w3-hover-shadow">
    <div class="w3-container w3-center" id="topic-card">
      <a href="#/home"><img src="/public/images/homepage/logo_sm.png" alt="bulb"/></a>
      <h3>Mathematics</h3>
    </div>
    <div id="topic-body">
      <h4>Math is included at an early age for several reasons. The child’s absorbent mind allows the child to learn and store information that is presented to him. The way that math is presented in the Montessori classroom is perfect for the child’s sensitive period for order. Montessori said “Order is one of the needs of life which, when it is satisfied, produces a real happiness” they find order in the sequence of the lessons and of the material themselves in the steps they need to follow.
      </h4>
      <h4>The introduction of numerals begins at a very early age in a child’s life, in songs, or when asked questions like “How old are you?”, “How many sister’s or brother’s do you have?”. The child may not understand what the question means, but learns how to put up fingers to show his/her age even though they don’t realize they are showing quantity. Montessori says, “Children of three years already know how to count as far as two or three when they enter our schools. They therefore very easily learn numeration, which consists in counting objects”. The language used in Math is very precise. Through Montessori Lessons, we teach the child numeral to quanties. For example this says 2 and this is 2.   
      </h4>
    </div>
  </div>
</div>