<div class="col-md-10 col-sm-12 col-md-offset-1">
  <div class="w3-card w3-hover-shadow">
    <div class="w3-container w3-center" id="topic-card">
      <a href="#/home"><img src="/images/homepage/logo_sm.png" alt="bulb"/></a>
      <h3>Geography</h3>
    </div>
    <div>
      <h4 id="topic-body">Geography is the study of places and how humans have adapted to all of Earth’s environments. Physical geography looks at the outward appearance of the environment. Cultural geography looks at what Maria Montessori called humankind’s ability to “continue the work of creation”. The children learned this through different Montessori lessons such as our world map, land forms and other lessons. The Montessori materials show the physical and visual characteristics of all land forms such as lakes, capes, bays, gulfs, archipelagos, islands, etc. Through lessons in the Montessori Environment the children are also exposed to other cultures around our world.
      </h4>
    </div>
  </div>
</div>