<div class="col-md-10 col-sm-12 col-md-offset-1">
  <div class="w3-card w3-hover-shadow">
    <div class="w3-container w3-center" id="topic-card">
      <a href="#/home"><img src="/public/images/homepage/logo_sm.png" alt="bulb"/></a>
      <h3>Contact Information</h3>
    </div>
    <div>
      <h4 id="topic-body">Come Visit Us!
      </h4>
      <h4 id="topic-body"><a href="https://goo.gl/maps/sQGR54Fy1j42">Address: 617 Washington Ave. Belleville NJ 07109</a></h4>
      <h4 id="topic-body">Email us at:
      </h4>
      <h4 id="topic-body"><a href="mailto:MrsYadira@Gmail.com?Subject=Montessori%20Minds" target="_top">MrsYadira@Gmail.com</a></h4>
      <h4 id="topic-body"><a href="tel:973-302-6363">Phone: 973-302-6363</a>
      </h4>
    </div>
  </div>
</div>