<div class="col-md-10 col-sm-12 col-md-offset-1">
  <div class="w3-card w3-hover-shadow">
    <div class="w3-container w3-center" id="topic-card">
      <a href="#/home"><img src="/images/homepage/logo_sm.png" alt="bulb"/></a>
      <h3>Sensorial</h3>
    </div>
    <div id="topic-body">
      <h4>Children utilize and enhance their five senses as they learn about the fundamental properties of the environment. They learn about shape, size, relationship, weight, texture, temperature and sound as they match, sort or grade various materials. These activities help prepare children for the tasks of mathematics and science among others.
      </h4>
    </div>
  </div>
</div>