<div class="col-md-10 col-sm-12 col-md-offset-1">
  <div class="w3-card w3-hover-shadow">
    <div class="w3-container w3-center" id="topic-card">
      <a href="#/home"><img src="/images/homepage/logo_sm.png" alt="bulb"/></a>
      <h3>Contact Information</h3>
    </div>
    <div>
      <h4 id="topic-body">Come Visit Us!
      </h4>
      <h4 id="topic-body"><a href="https://goo.gl/maps/sQGR54Fy1j42">Address: 617 Washington Ave. Belleville NJ 07109</a></h4>
      <h4 id="topic-body">Email us at: MsYadira@Gmail.com</h4>
    </div>
  </div>
</div>






















<!-- 
<div ng-controller="mailController">
  <h1>Contact Us</h1>
  <form ng-submit="transporter.sendmail" class="enrollment" action="" method="GET">
    <p>
      <label for="name">Name:</label><br>
      <input type="text" name="name" id="name">
    </p>
    <p>
      <label for="email">Email:</label></br>
      <input type="text" name="email" id="email">
    </p>
    <p>
      <label for="message">Message:</label></br>
      <textarea name="message" id="message" rows="5" cols="10"></textarea>
    </p>
    <p>
      <input type="submit" value="Submit" id="transporter">
    </p>
  </form>
</div>-->

<!--
<div ng-controller="mailController">
    <form ng-submit="transporter.sendmail()" name="myFormName">
        <input type="text" ng-model="myForm.name" placeholder="name" required="required"/><br>
        <input type="text" ng-model="myForm.email" placeholder="email" required="required"/><br>
        <input type="submit" value="Submit"/>
    </form>
</div> -->


<!-- check npm mailgun and sendgrid -->