<div class="col-md-10 col-sm-12 col-md-offset-1">
  <div class="w3-card w3-hover-shadow">
    <div class="w3-container w3-center" id="topic-card">
      <a href="#/home"><img src="/images/homepage/logo_sm.png" alt="bulb"/></a>
      <h3>Mathematics</h3>
    </div>
    <div id="topic-body">
      <h4>The materials in the math area are designed to lay the foundation for mathematical concepts and relationships.  Children work with concrete materials that enable them to explore patterns, the properties of numbers and concepts of place value.  The children carry out mathematical operation in a "hands on", developmentally appropriate way.
      </h4>
    </div>
  </div>
</div>