
<div class="container-fluid" id="footer">
  <div class="col-md-2 col-sm-3">
    <a href="tel:973-302-6363">Phone: 973-302-6363</a>
  </div>
  <div class="col-md-2 col-md-offset-3 col-sm-2">
    <span class="fa-stack fa-lg">
      <a href="https://twitter.com/montessorimind2" target="_blank">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </a>
    </span>
    <span class="fa-stack fa-lg">
    <a href="https://www.instagram.com/montessorimindsnj/?hl=en" target="_blank">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-instagram fa-stack-1x"></i>
    </a>
    </span>    
    <!-- <span class="fa-stack fa-lg">
    <a href="https://www.facebook.com/pages/Ladybug-Montessori-Learning-Center/1452237908346886" target="_blank">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x"></i>
    </a> -->
    </span>
    <span class="fa-stack fa-lg">
      <a href="https://www.yelp.com/biz/montessori-minds-belleville-2?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-yelp fa-stack-1x"></i>
      </a>
    </span>
  </div>
  <div class="col-md-5 col-sm-5">
    <a href="https://goo.gl/maps/sQGR54Fy1j42">Address: 617 Washington Ave. Belleville NJ 07109</a>
  </div>
</div> 
