 <div class="col-md-12">
  <h3 id="registration-banner"><a href="#/contact">** 2018/19 Registration has started ** Limited spots available **</a></h3>
 </div>

 <div class="col-md-12">
  <div class="jumbotron">
    <div class="jumbotext">
      <a href="#/home"><img src="/public/images/homepage/logo_sm.png" alt="bulb"/></a>
      <h1>Montessori Minds</h1>
    </div>
    <div>
      <h3 id="jumbo-body">“Free the child's potential, and you will transform him into the world.”</h3>
    </div> 
  </div>
</div> 

<div class="col-md-3 col-sm-10">
  <div class="w3-card w3-hover-shadow">
    <a href="#/practical-life"><img src="/public/images/homepage/practical_life.png" alt="Practical Life" style="width:100%"></a>
    <div class="w3-container w3-center" id="card-title">
      <p>Practical Life</p>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-10">
  <div class="w3-card w3-hover-shadow">
    <a href="#/sensorial"><img src="/public/images/homepage/sensorial.jpg" alt="Sensorial" style="width:100%"></a>
    <div class="w3-container w3-center" id="card-title">
      <p>Sensorial</p>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-10">
  <div class="w3-card w3-hover-shadow">
    <a href="#/mathematics"><img src="/public/images/homepage/mathematics.png" alt="Mathematics" style="width:100%"></a>
    <div class="w3-container w3-center" id="card-title">
      <p>Mathematics</p>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-10">
  <div class="w3-card w3-hover-shadow">
    <a href="#/language"><img src="/public/images/homepage/language.png" alt="Language" style="width:100%"></a>
    <div class="w3-container w3-center" id="card-title">
      <p>Language</p>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-10" id="topic">
  <div class="w3-card w3-hover-shadow">
    <a href="#/science"><img src="/public/images/homepage/science.png" alt="Science" style="width:100%"></a>
    <div class="w3-container w3-center" id="card-title">
      <p>Science</p>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-10" id="topic">
  <div class="w3-card w3-hover-shadow">
    <a href="#/geography"><img src="/public/images/homepage/geography.png" alt="Geography" style="width:100%"></a>
    <div class="w3-container w3-center" id="card-title">
      <p>Geography</p>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-10" id="topic">
  <div class="w3-card w3-hover-shadow">
    <a href="#/art"><img src="/public/images/homepage/art.jpeg" alt="Art" style="width:100%"></a>
    <div class="w3-container w3-center" id="card-title">
      <p>Art</p>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-10" id="topic">
  <div class="w3-card w3-hover-shadow">
    <img src="/public/images/homepage/temp.jpg" alt="Fun!" style="width:100%">
    <div class="w3-container w3-center" id="card-title">
      <p>Fun!</p>
    </div>
  </div>
</div>
