<div class="col-md-10 col-sm-12 col-md-offset-1">
  <div class="w3-card w3-hover-shadow">
    <div class="w3-container w3-center" id="topic-card">
      <a href="#/home"><img src="/public/images/homepage/logo_sm.png" alt="bulb"/></a>
      <h3>Sensorial</h3>
    </div>
    <div id="topic-body">
      <h4>The sensorial experiences begin at birth. Through their senses, children study the environment. The materials used in the Montessori classroom helps a child develop and refine his or her five senses, tactile, visual, smell, taste and hearing. Sensorial exercises were designed by Montessori to cover every quality that can be perceived by the senses such as size, shape, composition, texture, loudness or softness, matching, weight, temperature, etc. Because the Exercises cover such a wide range of senses, Montessori categorized the exercises into eight different groups: Visual, Tactile, Baric, Thermic, Auditory, Olfactory, Gustatory, and Stereognostic. These activities help prepare children for the tasks of mathematics and science among others.
      </h4>
    </div>
  </div>
</div>