<div class="col-md-10 col-sm-12 col-md-offset-1">
  <div class="w3-card w3-hover-shadow">
    <div class="w3-container w3-center" id="topic-card">
      <a href="#/home"><img src="/images/homepage/logo_sm.png" alt="bulb"/></a>
      <h3>Practical Life</h3>
    </div>
    <div id="topic-body">
      <h4>The Practical Life area is essential for a strong Montessori educational foundation. In this area a child is learning control of movement (fine motor skills), concentration span, self-confidence, and a love of learning. The activities in Practical Life are made up of familiar objects that a child would naturally see in everyday life. The activities are designed and chosen with real materials such as glass so that the children feel comfortable and will be able to master the activity. The activities that are chosen fall into four main categories: care of self, control of movement, care of the environment, and grace and courtesy. The overall idea of these activities is not only to help children gain self-confidence in their working abilities, but to expose the children to fundamental activities that will build their concentration span and work with activities they will encounter throughout their lives.
      </h4>
    </div>
  </div>
</div>