 <div class="col-md-12" id="registration-banner"><h3>
   <a href="#/contact">** Registration has started ** Limited spots available **</a>
  </h3>
   
 </div>

 <div class="col-md-12">
  <div class="jumbotron">
    <div class="jumbotext">
      <a href="#/home"><img src="/images/homepage/logo_sm.png" alt="bulb"/></a>
      <h1>Montessori Minds</h1>
    </div>
    <div>
      <h3 id="jumbo-body">“Free the child's potential, and you will transform him into the world”</h3>
    </div> 
  </div>
</div> 

<div class="col-md-3 col-sm-6">
  <div class="w3-card w3-hover-shadow">
    <a href="#/practical-life"><img src="/images/homepage/practical_life.jpg" alt="Practical Life" style="width:100%"></a>
    <div class="w3-container w3-center" id="card-title">
      <p>Practical Life</p>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-6">
  <div class="w3-card w3-hover-shadow">
    <a href="#/sensorial"><img src="/images/homepage/sensorial.png" alt="Sensorial" style="width:100%"></a>
    <div class="w3-container w3-center" id="card-title">
      <p>Sensorial</p>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-6">
  <div class="w3-card w3-hover-shadow">
    <a href="#/mathematics"><img src="/images/homepage/math.jpg" alt="Mathematics" style="width:100%"></a>
    <div class="w3-container w3-center" id="card-title">
      <p>Mathematics</p>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-6">
  <div class="w3-card w3-hover-shadow">
    <a href="#/language"><img src="/images/homepage/temp.jpg" alt="Language" style="width:100%"></a>
    <div class="w3-container w3-center" id="card-title">
      <p>Language</p>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-6" id="topic">
  <div class="w3-card w3-hover-shadow">
    <a href="#/science"><img src="/images/homepage/temp.jpg" alt="Science" style="width:100%"></a>
    <div class="w3-container w3-center" id="card-title">
      <p>Science</p>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-6" id="topic">
  <div class="w3-card w3-hover-shadow">
    <a href="#/geography"><img src="/images/homepage/temp.jpg" alt="Geography" style="width:100%"></a>
    <div class="w3-container w3-center" id="card-title">
      <p>Geography</p>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-6" id="topic">
  <div class="w3-card w3-hover-shadow">
    <a href="#/art"><img src="/images/homepage/art.jpeg" alt="Art" style="width:100%"></a>
    <div class="w3-container w3-center" id="card-title">
      <p>Art</p>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-6" id="topic">
  <div class="w3-card w3-hover-shadow">
    <img src="/images/homepage/temp.jpg" alt="Fun!" style="width:100%">
    <div class="w3-container w3-center" id="card-title">
      <p>Fun!</p>
    </div>
  </div>
</div>
