<div class="col-md-10 col-sm-12 col-md-offset-1">
  <div class="w3-card w3-hover-shadow">
    <div class="w3-container w3-center" id="topic-card">
      <a href="#/home"><img src="/images/homepage/logo_sm.png" alt="bulb"/></a>
      <h3>Science</h3>
    </div>
    <div id="topic-body">
      <h4>Children learn about the environment as they study various kinds of plants, animals, living/nonliving objects and events in nature.  The children have the opportunity to carry out simple experiments and will be introduced to some of the basic classifications that they will encounter and develop in more depth as they grow academically.
      </h4>
    </div>
  </div>
</div>