<div class="col-md-10 col-sm-12 col-md-offset-1">
  <div class="w3-card w3-hover-shadow">
    <div class="w3-container w3-center" id="topic-card">
      <a href="#/home"><img src="/images/homepage/logo_sm.png" alt="bulb"/></a>
      <h3>Language</h3>
    </div>
    <div id="topic-body">
      <h4>Consists of materials extending from pre-reading and pre-writing to reading, writing and grammar activities.  The classroom in a language-rich environment that will nurture the child's natural interest and sensitivity to mastering language.  We will help each child develop the listening and writing strategies they will need for future academics.  In a Montessori classroom, the children are taught the phonetic sounds of letters as an alternative to the alphabetic names since these are he first sounds that the child hears when pronouncing words.  Our goal is to set each child up for a successful learning experience.  We have also enhanced our language-rich environment with lessons in the Spanish language.
      </h4>
    </div>
  </div>
</div>