<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" id="fullnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">Montessori Minds</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="/home" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Curriculum<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/practical-life">Practical Life</a></li>
            <li><a href="#/sensorial">Sensorial</a></li>
            <li><a href="#/mathematics">Mathematics</a></li>
            <li><a href="#/language">Language</a></li>
            <li><a href="#/science">Science</a></li>
            <li><a href="#/geography">Geography</a></li>
            <li><a href="#/art">Art</a></li>
          </ul>
        </li>
        <li><a href="#/gallery">Gallery</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#/enrollment">Enrollment</a></li> -->
        <li><a href="#/contact">Contact Us</a></li>
        <!-- <li class="dropdown">
          <a href="/home" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li> -->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>